html {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --primary: #1E1E1E;
    --secondary: #3D3D3D;
    --tertiary: #1B203D;
    --like: #09BA3A;
    --dislike: #BA0909;
    --action: #59BF40;
    --linear-start: rgba(26, 57, 57, 0.7);
    --linear-end: rgba(27, 32, 61, 1);
}

body {
    background-color: var(--secondary);
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-container {
    width: 360px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.outside-container {
    min-width: 430px;
    background-color: var(--primary);
}

/* top navigation */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 62px;
    align-items: center;
}


.burger-menu {
    padding-left: 35px;
}

.search {
    padding-right: 35px;
}


footer {
    background-color: #181818;
    width: 100%;
    height: 229px;
    bottom: 0;
    color: #fff;
    margin-top: 24px;
}

.bottom-info {
    text-align: center;
}

.bottom-info p {
    margin: 0;
    padding-top: 16px;
}

.hr-line {
    width: 100%;
    margin: 16px 16px 0 16px;
    border: 1px solid #3e3e3e;
}

.bottom-socials {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 24px 50px 24px 50px;
    margin: 0;
}

.social-space {
    margin: auto;
}

.total-bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:space-between;
    align-items: center;
    background-color: #222;
    height: 65px;
    padding: 0 35px 0 35px;
    position: sticky;
    bottom: 0;
    color: #fff;
    z-index: 2;
}

.total-bottom p {
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.nav-under {
    text-align: center;
}

.nav-under h2 {
    margin: 0;
    font-size: 12px;
    font-family: 'Roboto';
    letter-spacing: 4%;
    padding-top: 10px;
}