.featured-games-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.featured-games {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -21px;
    width: 172px;
    height: 192px;
    margin-bottom: 16px;
}

.featured-games:nth-child(odd) {
    margin-right: 16px;
}

.aligned-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.featured-game-text {
    font-family: 'Gill Sans', 'inter';
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 4%;
    color: white;
    text-align: left;
    width: 360px;
    height: 20px;
    margin: 16px 0 12px 0;
}

.game-one {
    background-image: url(/assets/images/GameHub_covers9.jpg);
}
.game-two {
    background-image: url(/assets/images/GameHub_covers8.jpg);
}
.game-three {
    background-image: url(/assets/images/GameHub_covers7.jpg);
}
.game-four {
    background-image: url(/assets/images/GameHub_covers6.jpg);
}
.game-five {
    background-image: url(/assets/images/GameHub_covers9.jpg);
}
.game-six {
    background-image: url(/assets/images/GameHub_covers8.jpg);
}

.categories-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.categories-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 35px 0 35px;
    position: relative;
    width: 360px;
}

.categories-text button {
    border: none;
    background: none;
    margin: 0;
    font-size: 8px;
    font-weight: 900;
    letter-spacing: 4%;
    color: white;
    text-align: left;
}

.categories-text h2 {
    font-family: 'Gill Sans', 'inter';
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 4%;
    color: white;
    text-align: left;
    margin: 8px 0 12px 0;
}

.action {
    background-image: url(/assets/images/GameHub_covers9.jpg);
    margin-right: 16px;
}

.adventure  {
    background-image: url(/assets/images/GameHub_covers8.jpg);
}

.category {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -21px;
    width: 172px;
    height: 192px;
    position: relative;
    display: flex;
}

.layer {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.layer-text {
    font-family: 'gill-sans-ultra-bold-regular', sans-serif;
    color: #fff;
    font-size: 12px;
    letter-spacing: 4%;
    z-index: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
}

.arrow-left, .arrow-right {
    align-self: center;
    padding: 0 12px 0 12px;
}
