html {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --primary: #1E1E1E;
    --secondary: #3D3D3D;
    --tertiary: #1B203D;
    --like: #09BA3A;
    --dislike: #BA0909;
    --action: #59BF40;
    --linear-start: rgba(26, 57, 57, 0.7);
    --linear-end: rgba(27, 32, 61, 1);
}

body {
    background-color: var(--secondary);
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-container {
    width: 360px;
    height: 100%;
    margin: 0 auto;

}
.outside-container {
    min-width: 430px;
    background-color: var(--primary);
    position: relative;
}

/* top navigation */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 62px;
    align-items: center;
}


.burger-menu {
    padding-left: 35px;
}

.search {
    padding-right: 35px;
}


.top-game-banner {
    position: re;
}

.featured-games-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.featured-games {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -21px;
    width: 172px;
    height: 192px;
    margin-bottom: 16px;
}

.featured-games:nth-child(odd) {
    margin-right: 16px;
}

.aligned-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.featured-game-text {
    font-family: 'Gill Sans', 'inter';
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 4%;
    color: white;
    text-align: left;
    width: 360px;
    height: 20px;
    margin: 16px 0 12px 0;
}

.game-one {
    background-image: url(/assets/images/GameHub_covers9.jpg);
}
.game-two {
    background-image: url(/assets/images/GameHub_covers8.jpg);
}
.game-three {
    background-image: url(/assets/images/GameHub_covers7.jpg);
}
.game-four {
    background-image: url(/assets/images/GameHub_covers6.jpg);
}
.game-five {
    background-image: url(/assets/images/GameHub_covers9.jpg);
}
.game-six {
    background-image: url(/assets/images/GameHub_covers8.jpg);
}

.categories-whole {

}

.categories-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.categories-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 35px 0 35px;
    position: relative;
    width: 360px;
}

.categories-text button {
    border: none;
    background: none;
    margin: 0;
    font-size: 8px;
    font-weight: 900;
    letter-spacing: 4%;
    color: white;
    text-align: left;
}

.categories-text h2 {
    font-family: 'Gill Sans', 'inter';
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 4%;
    color: white;
    text-align: left;
    margin: 8px 0 12px 0;
}

.action {
    background-image: url(/assets/images/GameHub_covers9.jpg);
    margin-right: 16px;
}

.adventure  {
    background-image: url(/assets/images/GameHub_covers8.jpg);
}

.category {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -21px;
    width: 172px;
    height: 192px;
    position: relative;
    display: flex;
}

.layer {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.layer-text {
    font-family: 'gill-sans-ultra-bold-regular', sans-serif;
    color: #fff;
    font-size: 12px;
    letter-spacing: 4%;
    z-index: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
}

.arrow-left, .arrow-right {
    align-self: center;
    padding: 0 12px 0 12px;
}

footer {
    background-color: #181818;
    width: 100%;
    height: 269px;
    bottom: 0;
    color: #fff;
    margin-top: 24px;
}

.bottom-info {
    text-align: center;

}

.bottom-info p {
    margin: 0;
    padding-top: 16px;
}

.hr-line {
    width: 100%;
    margin: 16px 16px 0 16px;
    border: 1px solid #3e3e3e;
}

.bottom-socials {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 24px 50px 16px 50px;
    margin: 0;
}

.social-space {
    margin: auto;
}

.total-bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:space-between;
    align-items: center;
    background-color: #222;
    height: 65px;
    padding: 0 35px 0 35px;
}

.total-bottom p {
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;

}

.nav-under {
    text-align: center;
}

.nav-under h2 {
    margin: 0;
    font-size: 12px;
    font-family: 'Roboto';
    letter-spacing: 4%;
    padding-top: 10px;
}